@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-primary: #ea580c;
  --color-accent: #2563eb;
}

:root {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: #f8fafc;
}

@layer utilities {
  .container {
    @apply px-4 mx-auto max-w-7xl;
  }
}